<div class="container mt-4 ">
<div class="row">
    <h3>Listado de estudiantes</h3>
    
<br>
<table class="table" *ngIf="listaEstudiantes.length > 0" >
<thead>
<th>Nro</th>
<th>Nombre</th>
<th>Estado</th>
</thead>
<tbody>
<tr *ngFor="let estudiante of listaEstudiantes; let i= index">
    <td>{{i + 1}}</td>
    <td>{{estudiante.nombre}}</td>
    <td [ngStyle]=" {'font-style': estudiante.estado === 'Promocionado' ? 'italic': 'normal'}">{{estudiante.estado}}</td>
</tr>
</tbody>

</table>
<h3 *ngIf="listaEstudiantes.length === 0">No Hay Registros para mostrar</h3>
</div>
